<section id="hero">
  <div class="hero-left">
    <h3 class="pre-title">My name is</h3>
    <h1 class="hero-name">Muhamad <span>Fadhlan</span></h1>
    <p>
      Creative front-end developer with more than +5 years of experience
      in enterprise companies and startups. Proficient in Javascript and
      React. Passionate about UI/UX.
    </p>
  </div>

  <div class="hero-right">
    <img src="/images/hero.svg" alt="Person Standing" />
  </div>
</section>