<section id="skills">
    <div class="skills main-container">
      <h3 class="pre-title">Learning Path</h3>
      <h1 class="section-title">Skills & Education</h1>

      <div class="skills-grid">
        <div class="skills-left">
          <!-- Education 1 -->
          <div class="education" data-aos="fade-down-right" data-aos-delay="0">
            <div class="line">
              <div></div>
            </div>
            <div class="education-info">
              <h4 class="education-title">SMA Negeri 25 Kab. Tangerang</h4>
              <p>Ilmu Pengetahuan Sosial | IPS</p>
              <h4 class="education-years">2020 - 2023</h4>
            </div>
          </div>
          <!-- Education 2 -->
          <div class="education" data-aos="fade-down-right" data-aos-delay="300">
            <div class="line">
              <div></div>
            </div>
            <div class="education-info">
              <h4 class="education-title">Raharja University</h4>
              <p>Mastering Degree Software Engineer</p>
              <h4 class="education-years">2023 - 2025</h4>
            </div>
          </div>
          <!-- Education 3 -->
          <div class="education" data-aos="fade-down-right" data-aos-delay="400">
            <div class="line">
              <div></div>
            </div>
            <div class="education-info">
              <h4 class="education-title">Gadjah Mada University</h4>
              <p>Mastering Degree Software Engineer</p>
              <h4 class="education-years">2028 - 2034</h4>
            </div>
          </div>
        </div>
        <div class="skills-right" data-aos="fade-down-left" data-aos-delay="500">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci,
            voluptatum culpa? Veniam, possimus. Nobis, iure eos corporis esse
            velit asperiores?
          </p>
          <div class="skills-list">
            <ul>
              <li>React Js</li>
              <li>Node Js</li>
              <li>Vue Js</li>
              <li>Salmon Js</li>
            </ul>
            <ul>
              <li>CSS</li>
              <li>Golang</li>
              <li>Jawier Script</li>
              <li>Badai Js</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>