<section id="skills">
  <div class="skills main-container">
    <h3 class="pre-title">Learning Path</h3>
    <h1 class="section-title">Skills & Education</h1>

    <div class="skills-grid">
      <div class="skills-left">
        <div class="education">
          <div class="line">
            <div></div>
          </div>
          <div class="education-info">
            <h4 class="education-title">Kingston University</h4>
            <p>Master's Degree - Software Engineering</p>
            <h4 class="education-years">2019 - 2023</h4>
          </div>
        </div>
        <div class="education">
          <div class="line">
            <div></div>
          </div>
          <div class="education-info">
            <h4 class="education-title">Kingston University</h4>
            <p>Master's Degree - Software Engineering</p>
            <h4 class="education-years">2019 - 2023</h4>
          </div>
        </div>
        <div class="education">
          <div class="line">
            <div></div>
          </div>
          <div class="education-info">
            <h4 class="education-title">Kingston University</h4>
            <p>Master's Degree - Software Engineering</p>
            <h4 class="education-years">2019 - 2023</h4>
          </div>
        </div>
      </div>

      <div class="skills-right">
        <p>
          For 5+ years, I have been continuously learning in the field of
          front-end and experimenting with new technologies and frameworks,
          and here you can see a summary of my skills. Field of front-end
          and experimenting with new technologies.
        </p>

        <div class="skills-list">
          <ul>
            <li>React JS</li>
            <li>Node JS</li>
            <li>MongoDB</li>
            <li>HTML</li>
            <li>Vue JS</li>
          </ul>

          <ul>
            <li>CSS</li>
            <li>Typescript</li>
            <li>Next JS</li>
            <li>GraphQl</li>
            <li>Angular JS</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>